/* .food-container {
  width: 100%;
  padding: 20px;
   margin-left: 50px;
  
}

.title {
  margin-bottom: 20px;
}


.food-grid {
  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 
} */

.food-container{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;
padding:40px;
}